images/**
blends/**
*.kra~
*.png~
*main.o*
*3d-game-shaders-for-beginners.o*
*3d-game-shaders-for-beginners*
!blends/*
!blends/mill-scene/mill-scene-low-poly-backup.blend
*.vcxproj
*.filters
*.sln
*.user
demonstration/build/.idea/*
demonstration/build/.vs/*
demonstration/build/.vscode/*
demonstration/build/Chapter0.dir
demonstration/build/Chapter1.dir
demonstration/build/CMakeFiles
demonstration/build/Debug
demonstration/build/demonstration.dir
demonstration/build/RelWithDebInfo
demonstration/build/x64/
.vscode/lua.booster.lint.json
demonstration/build/CMakeCache.txt
demonstration/build/ALL_BUILD.vcxproj
demonstration/build/ALL_BUILD.vcxproj.filters
demonstration/build/Chapter0.vcxproj
demonstration/build/Chapter0.vcxproj.filters
demonstration/build/Chapter1.vcxproj
demonstration/build/Chapter1.vcxproj.filters
demonstration/build/cmake_install.cmake
demonstration/build/ZERO_CHECK.vcxproj
demonstration/build/ZERO_CHECK.vcxproj.filters
demonstration/Panda3D-1.10.14-x64/*
demonstration/build/demonstration.sln
