images/**
blends/**
*.kra~
*.png~
*main.o*
*3d-game-shaders-for-beginners.o*
*3d-game-shaders-for-beginners*
!blends/*
!blends/mill-scene/mill-scene-low-poly-backup.blend
demonstration/.idea/*
demonstration/.vs/*
demonstration/.vscode/*
demonstration/Chapter0.dir
demonstration/Chapter1.dir
demonstration/CMakeFiles
demonstration/Debug
demonstration/demonstration.dir
demonstration/RelWithDebInfo
demonstration/Release
demonstration/x64/
.vscode/lua.booster.lint.json
demonstration/CMakeCache.txt
demonstration/ALL_BUILD.vcxproj
demonstration/ALL_BUILD.vcxproj.filters
demonstration/Chapter0.vcxproj
demonstration/Chapter0.vcxproj.filters
demonstration/Chapter1.vcxproj
demonstration/Chapter1.vcxproj.filters
demonstration/cmake_install.cmake
demonstration/ZERO_CHECK.vcxproj
demonstration/ZERO_CHECK.vcxproj.filters
Panda3D-1.10.14-x64/*
